<mat-card>
  <mat-card-header>
    <button mat-raised-button color="primary" (click)="Addnewinvoivce()">
      Add Invoice
    </button>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>InvoiceNO</th>
        <td mat-call *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="id-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput (keyup)="filterChange('id', $event)" />
          </mat-form-field>
        </th>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Customer Name</th>
        <td mat-call *matCellDef="let element">{{ element.customername }}</td>
      </ng-container>
      <ng-container matColumnDef="name-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="mat-full-width">
            <input matInput (keyup)="filterChange('name', $event)" />
          </mat-form-field>
        </th>
      </ng-container>

      <!-- address -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Delivery Address</th>
        <td mat-cell *matCellDef="let element">
          {{ element.deliveryaddress }}
        </td>
      </ng-container>
      <ng-container matColumnDef="address-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput (keyup)="filterChange('address', $event)" />
          </mat-form-field>
        </th>
      </ng-container>

      <!-- nettotal -->
      <ng-container matColumnDef="nettotal">
        <th mat-header-cell *matHeaderCellDef>NetTotal</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nettotal | currency }}
        </td>
      </ng-container>
      <ng-container matColumnDef="nettotal-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput (keyup)="filterChange('nettotal', $event)" />
          </mat-form-field>
        </th>
      </ng-container>

      <!-- action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            (click)="EditInvoice(element.id)"
          >
            Edit
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="RemoveInvoice(element.id)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsFilter"></tr>
    </table>
  </mat-card-content>
</mat-card>
