<mat-toolbar color="primary">
  <span>Biling Application</span>
  <span class="spacer"></span>

  <a mat-button routerLink="#">Home</a>
  <a mat-button routerLink="/invoice/create">Create Invoice</a>
  <a mat-button routerLink="/invoice">Invoice List</a>

  <button mat-button [matMenuTriggerFor]="assignmentMenu">
    Edit
  </button>
</mat-toolbar>

<mat-menu #assignmentMenu="matMenu">
  <button mat-menu-item routerLink="/invoice/edit">Edit Invoice</button>
</mat-menu>
<router-outlet></router-outlet>
